@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
:root {
  --button: #ff0000;
  --background: #e5e5e5;
  --main-background: #c4c4c4;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
}
body {
  background-color: var(--background);
}
#hero-header {
  position: absolute;
  z-index: 1;
  width: 100%;
}
/* nav-bar */
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-top: 20px;
}
/* Logo */
.logo img {
  width: 52px;
  height: 37px;
}

/* Menu */
.menu-bar ul {
  display: flex;
  gap: 50px;
}
.menu-bar a {
  display: flex;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: var(--text);
}

/* Input de Pesquisa */
.search {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  height: 40px;
  padding-left: 10px;
}

.search input {
  margin-left: 10px;
  border: none;
  background-color: transparent;
}
#nav-search:focus {
  outline: none;
}
.hamburguer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 8px;
  position: relative;
  cursor: pointer;
  display: none;
}
.hamburguer span {
  display: block;
  width: 24px;
  height: 3px;
  background: white;
  position: relative;
  transition: all 200ms ease-in-out;
}
.hamburguer span::before {
  content: "";
  width: 24px;
  height: 3px;
  background: white;
  position: absolute;
  top: -8px;
  left: 0;
  transition: all 200ms ease-in-out;
}
.hamburguer span::after {
  content: "";
  width: 24px;
  height: 3px;
  background: white;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 200ms ease-in-out;
}
.hamburguer.active span {
  height: 0;
}
.hamburguer.active span::before {
  top: 0;
  left: 0;
  transform: rotate(-225deg);
}
.hamburguer.active span::after {
  top: 0;
  left: 0;
  transform: rotate(225deg);
}

/* ------------------------------ */
/* hero section */
/* ------------------------------- */
main {
  display: flex;
  flex-direction: row-reverse;
}

#hero-section {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: auto;
}
.container-section {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 850px;
  height: 914px;
  padding-bottom: 1em;
  background-color: var(--main-background);
}
.main-ampliada {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#secun-section {
  max-width: 347px;
  margin: 100px;
}
.text-container {
  max-width: 348px;
  display: flex;
  flex-direction: column;
}
.text-container h1 {
  padding: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;

  color: var(--text);
}
.text-container p {
  height: 57px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: var(--text-description);
}
.text-container h2 {
  padding: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--text);
}
.btn-comprar input {
  padding: 33px 79px 33px 75px;
  background: var(--button);
  border: none;
  color: white;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}
/* ------------------------------ */
/* Main */
/* ------------------------------- */
#hero-footer {
  width: 100%;
  height: 100%;
}
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-redes ul {
  display: flex;
  gap: 80px;
  flex-direction: row;
}

.footer-redes a {
  color: var(--text);
  font-family: 'Roboto';
  font-weight: 700;
}
.footer-redes-mais {
  padding: 10px 100px;
  background: var(--footer);
}
.footer-redes-mais p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 70px 0;
  font-size: 24px;
  color: white;
}
/* ---------------------------------------- */
/* ---------------------------------------- */

@media (max-width: 900px) {
  body {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-left: 100px;
  }
  .nav-bar {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
  }
  .nav-bar .menu-bar.show li:disabled {
    border-bottom: 0;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: black;

    position: fixed;
    top: 0;
    left: -100vw;
    width: 100%;
    height: 100%;

    padding-top: 80px;

    visibility: hidden;
    transition: all 500ms ease-in-out;
    z-index: -1;
  }
  .menu-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px;
  }
  .menu-bar li {
    font-size: 18px;
  }
  .menu-bar a {
    color: white;
  }
  .menu-bar.show {
    left: 0;
    visibility: visible;
  }

  .icons-bag {
    display: none;
  }
  .search {
    display: none;
  }
  .hamburguer {
    display: flex;
    cursor: pointer;
  }
  .container-footer {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px;
    align-items: center;
  }
  .footer-redes ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
  }
  .footer-redes-mais {
    padding: 0 10px;
  }
  .footer-redes-mais p {
    padding: 40px;
  }
}
